<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main flex items-center justify-center bg-stone-600">
        <h1 class="text-4xl text-white">404 Error Some Want Wrong</h1>
    </div>
</body>
</html>