<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info Secure</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full text-black h-screen bg-stone-300 flex items-center justify-center">
        <form action="/login" method="post" class="flex items-center justify-between flex-col gap-4 ">
            <input type="email", placeholder="email" class="px-11 bg-cyan-100 py-3  rounded-lg outline-none " name="email">
            <input type="password", placeholder="Password" class="px-11 bg-cyan-100 text-black py-3 rounded-lg outline-none  "  name="password">
               <input type="submit" value="Register" class="hover:ease-out duration-300 hover:py-3 hover:px-5 hover:mt-5  mt-3 px-4 py-2 bg-stone-600 rounded-md "> 
        </form>
    </div>
</body>
</html>