<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practice</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <h1>hello no mind</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas provident iusto nostrum exercitationem incidunt placeat repudiandae mollitia nesciunt enim quasi.
    </p>
</body>
</html>